
@media (max-width: 768px) {

  .header{
    width: 100%;

    &__image{
    width: 100%;
    height: 470px;
    background-color: $white;
    background-image: url("../images/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__div{
    width: 100%;
    padding: 5%;
    font-family: $open-sans;
    font-weight: $regular;
    h6{
      padding: 1%;
      line-height:15px;

    }

&__header__div2 {
  font-family: $open-sans;
  font-weight: $regular;


}
  }

  }
}
@media (max-width: 992px) {

    .header{
      width: 100%;

      &__image{
      width: 100%;
      height: 470px;
      background-color: $white;
      background-image: url("../images/bg-hero.svg");
      background-repeat: no-repeat;
      background-size: cover;
      }


  &__div{
    width: 55%;
    padding: 5%;
    h6{
      padding: 1%;
      line-height:30px;
    }

  }

  }
}

@media (min-width: 993px) {


  .header{
    width: 100%;
    height: 820px;
    background-color: $white;
    background-image: url("../images/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;

  &__div{
    width: 35%;
    padding: 5%;

    h1{
      font-family: $raleway;
      font-weight: $bold;
    }
    h6{
      padding: 1%;
      line-height:30px;
      font-family: $open-sans;
    }

  }

  }
}
